:root {
    --main-color: #009900;
    --secondary-color: #003300;
    --text-color: #CCCCCC;
    --main-background-color: #333333;
    --blog-background-color: #555555;
    --blog-background-secondary: #AAAAAA;
    --secondary-background-color: #181818;
    --tertiary-background-color: #e7e7e7;
    --invert: 1;
}

html,
body {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--main-background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

iframe {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#content {
    margin-top: 6vh;
}

div a {
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: var(--text-color);
}

ul a {
    color: var(--text-color);
    font-size: 23px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul a:hover {
    background-color: var(--main-color);
}

ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 6%;
    display: flex;
}

h1,
h2,
h5 {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
}

#footer a {
    margin: 5px;
}

#github img {
    width: 20px;
    height: 20px;
    filter: invert(var(--invert));
}

#email img {
    width: 30px;
    height: 30px;
    filter: invert(var(--invert));
}

#darkmode {
    margin-right: auto;
}

#darkmode img {
    width: 20px;
    height: 20px;
    filter: invert(var(--invert));
}

.cv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-evenly;
}

.cv div {
    padding: 10px;
}

.cv p,
div h2,
#blog h5,
div p {
    width: 600px;
}

.cv img {
    width: 400px;
}

@media (max-width: 700px) {
    .cv p,
    div h2,
    #blog h5,
    div p {
        width: 250px;
    }

    
}

@media (max-width: 820px) {
    #footer {
        flex-direction: column;
    }
    .cv img {
        width: 200px;
    }
}

@media print {
    #footer, #header, #lang-eng, #lang-nor {
        display: none;
    }

}


.cv div h2 {
    margin: 0;
    align-self: center;
    text-align: left;

}

.cv div p {
    margin: 0;
    align-self: center;
    text-align: left;
}

.cv p {
    margin: 0;
    align-self: center;
    text-align: left;
}

#lang-eng, #lang-nor {
    padding: 20px;
    height: 24px;
    cursor: pointer;
}

.cv h2 a {
    text-decoration: none;
}

#blog h2 {
    text-align: center;
    background-color: var(--secondary-background-color);
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

#blog p {
    text-align: left;
    color: var(--text-color);
    background-color: var(--blog-background-color);
    border-radius: 0px 0px 10px 10px;
    margin-top: 0;
    padding: 10px;
}

#blog h5 {
    text-align: center;
    background-color: var(--secondary-background-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    display: block;
}